In [15]:
import pandas as pd

career_data = pd.read_csv("../resources/career_recommender.csv")

In [16]:
career_data.tail(10)

,What is your name?,What is your gender?,What was your course in UG?,What is your UG specialization? Major Subject (Eg; Mathematics),What are your interests?,What are your skills ? (Select multiple if necessary),What was the average CGPA or Percentage obtained in under graduation?,Did you do any certification courses additionally?,"If yes, please specify your certificate course title.",Are you working?,"If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.","Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)"
1185,Yatharth,Male,MBA,Commerce,Financial Analysis;Research;Sales/Marketing;Te...,Accounting Skills;Gathering Information;Financ...,76,No,No,No,NaN,Marketing
1186,Yerraji Rambabu,Male,B.Tech,Electronics & Telecommunications,Data Analytics,NO,76.95,No,No,Yes,ASSISTANT SYSTEM ENGINEER TRAINEE,NaN
1187,Yerram Munisekhar,Male,B.Com,Computer Science Engineering,Financial Analysis,"Accounting Skills, Active Listening, Critical ...",83,No,No,No,Student (Unemployed),Masters in Business Administration
1188,Yogender Prabhu,Male,B.Tech,Electrical and Electronics Engineering,Product Life cycle Management,\nProduct Management;User Experience (UX);Prod...,73.055,Yes,\nProduct Management,Yes,Product Specialist,NaN
1189,Yogesh Kulkarni,Male,B.Sc,Coding,Technology,Communication skills;Data Visualization skills...,67.22,No,No,Yes,MIS,NaN
1190,Your Friend,Male,B.Tech,Electronics and Communication Engineering,Technology,"Python, SQL, Oracle",72.2,No,AWS cloud practitioner,Yes,Data Engineer,Masters in Computer Science
1191,Zabi ansari,Male,B.Sc,Computer Science Engineering,Technology,"SQL, Problem Solving skills",80.75,No,No,No,Nothing,Masters in Computer Science
1192,Zain,Male,B.Tech,Animation & Visual Effects,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22,Yes,"Sql, Python,tableau,data science",Yes,Hr Assistant II,NaN
1193,Zayn Shah,Male,BE,Computer Science,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57,No,No,No,Student (Unemployed),Masters in Computer Applications
1194,Zuben Saldanha,Male,B.Sc,Animation & Visual Effects,Animation,2D/3D Animation,76.285,Yes,3D Animation,Yes,VFX Production Assistant,NaN

In [17]:
career_pred_data = pd.read_csv("../resources/career_pred.csv")
career_pred_data.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst

In [18]:
job_skills_data = pd.read_csv('../resources/job_skills.csv')
job_skills_data.head()

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications
0,Google,Google Cloud Program Manager,Program Management,Singapore,"Shape, shepherd, ship, and show technical prog...",BA/BS degree or equivalent practical experienc...,Experience in the business technology market a...
1,Google,"Supplier Development Engineer (SDE), Cable/Con...",Manufacturing & Supply Chain,"Shanghai, China",Drive cross-functional activities in the suppl...,BS degree in an Engineering discipline or equi...,"BSEE, BSME or BSIE degree.\nExperience of usin..."
2,Google,"Data Analyst, Product and Tools Operations, Go...",Technical Solutions,"New York, NY, United States",Collect and analyze data to draw insight and i...,"Bachelor’s degree in Business, Economics, Stat...",Experience partnering or consulting cross-func...
3,Google,"Developer Advocate, Partner Engineering",Developer Relations,"Mountain View, CA, United States","Work one-on-one with the top Android, iOS, and...",BA/BS degree in Computer Science or equivalent...,"Experience as a software developer, architect,..."
4,Google,"Program Manager, Audio Visual (AV) Deployments",Program Management,"Sunnyvale, CA, United States",Plan requirements with internal customers.\nPr...,BA/BS degree or equivalent practical experienc...,CTS Certification.\nExperience in the construc...

In [19]:
online_data = pd.read_csv("../resources/online_data.csv")
online_data.head()

,Logical quotient rating,hackathons,coding skills rating,public speaking points,self-learning capability?,Extra-courses did,certifications,workshops,reading and writing skills,memory capability score,Interested subjects,interested career area,Type of company want to settle in?,Taken inputs from seniors or elders,Interested Type of Books,Management or Technical,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,5,0,6,2,yes,no,information security,testing,poor,poor,programming,testing,BPA,no,Series,Management,smart worker,yes,no,Applications Developer
1,7,6,4,3,no,yes,shell programming,testing,excellent,medium,Management,system developer,Cloud Services,yes,Autobiographies,Technical,hard worker,no,yes,Applications Developer
2,2,3,9,1,no,yes,information security,testing,excellent,poor,data engineering,Business process analyst,product development,yes,Travel,Technical,smart worker,no,no,Applications Developer
3,2,6,3,5,no,yes,r programming,database security,excellent,poor,networks,testing,Testing and Maintainance Services,yes,Guide,Management,smart worker,yes,yes,Applications Developer
4,2,0,3,4,yes,no,distro making,game development,excellent,medium,Software Engineering,system developer,BPA,no,Health,Technical,hard worker,yes,no,Applications Developer

In [20]:
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6901 entries, 0 to 6900
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Logical quotient rating              6901 non-null   int64
 1   hackathons                           6901 non-null   int64
 2   coding skills rating                 6901 non-null   int64
 3   public speaking points               6901 non-null   int64
 4   self-learning capability?            6901 non-null   object
 5   Extra-courses did                    6901 non-null   object
 6   certifications                       6901 non-null   object
 7   workshops                            6901 non-null   object
 8   reading and writing skills           6901 non-null   object
 9   memory capability score              6901 non-null   object
 10  Interested subjects                  6901 non-null   object
 11  interested career area               6901 non-null   object
 12  Type of company want to settle in?   6901 non-null   object
 13  Taken inputs from seniors or elders  6901 non-null   object
 14  Interested Type of Books             6901 non-null   object
 15  Management or Technical              6901 non-null   object
 16  hard/smart worker                    6901 non-null   object
 17  worked in teams ever?                6901 non-null   object
 18  Introvert                            6901 non-null   object
 19  Suggested Job Role                   6901 non-null   object
dtypes: int64(4), object(16)
memory usage: 1.1+ MB

In [21]:
career_compute_df = pd.read_csv("../resources/career_compute_dataset.csv")
career_compute_df.head()

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills,ROLE
0,2,3,2,3,1,1,1,1,2,4,...,1,3,1,2,2,4,3,4,5,Technical Support
1,3,1,2,2,2,1,1,3,2,4,...,2,3,2,3,2,5,3,3,4,Software Developer
2,3,4,2,2,1,1,1,2,3,3,...,1,4,3,1,4,3,3,3,4,UI/UX Designer
3,3,4,2,1,1,1,1,1,3,2,...,1,3,2,1,2,1,4,4,3,Technical Support
4,2,3,2,4,1,1,1,4,3,3,...,1,2,1,3,1,5,4,3,1,Data Analyst